@font-face {
  font-family: 'Lexend';
  src: url('/fonts/lexend.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;

}
@font-face {
  font-family: 'Inter';
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
}
